@model Recruit_o_matic.Models.Vacancy

<h2>Delete</h2>

<h3>Are you sure you want to delete the Vacancy "@Model.Title"</h3>

@using (Html.BeginForm("DeleteConfirm", "Admin", new { Id = Model.Id }, FormMethod.Post, new { @class="form-horizontal"}))
{
        <a class="btn" href="@Url.Action("Index")"><i class="icon-arrow-left"></i> Back to List</a>
        <input class="btn btn-success" type="submit" value="Delete" />
}
