@model Recruit_o_matic.ViewModels.Admin.AdminHomeViewModel


<div class="well well-large">
    <h1>Recruit-O-Matic Portal</h1>


    <p>Welcome <strong>@User.Identity.Name</strong>. There are currently <strong>@Model.TotalPublishedVacancies</strong> published vacancies with a total of <strong>@Model.TotalApplicants</strong> applicants.</p>
    <p>
        <a href="@Url.Action("Create")" class="btn btn-success"><i class="icon-user icon-white"></i>Create New Vacancy</a>
    </p>
</div>

<div class="row-fluid">
    <div class="span12">


        
                @{Html.RenderPartial("_vacancyGrid", Model.Vacancies);}
            

    </div>

</div>


